[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
dj-database-url = "*"
social-auth-app-django = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"

[packages]
django = "*"
python-decouple = "*"
psycopg2 = "*"
pillow = "*"
asgiref = "*"

[requires]
python_version = "3.8"
